@use "../../variables" as *;

.navigation {
	a {
		text-decoration: none;
		color: $black;
	}
	ul {
		font-family: $display-font;
	}
	li {
		list-style: none;
		background-color: $white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		h3 {
			padding-inline: 2rem;
			line-height: 2rem;
		}

		.pic1,
		.pic2,
		.pic3 {
			background-size: contain;
			background-repeat: no-repeat;
			height: 4rem;
			margin: 0.5rem;
		}

		.pic1 {
			width: 30%;
			// background-image: url(../../../img/microphone.png);
			background-image: url(../../../img/micro_improved.png);
		}
		.pic2 {
			width: 30%;
			// background-image: url(../../../img/tent.png);
			background-image: url(../../../img/tent_improved.png);
			background-position: right 0;
		}
		.pic3 {
			width: 25%;
			// background-image: url(../../../img/beer.png);
			background-image: url(../../../img/beer_improved.png);
		}
	}
}
@media (min-width: 700px) {
	.navigation {
		ul {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			height: 85vh;
			h3 {
				font-size: $mix1;
			}
		}
		li {
			height: 85vh;
			width: 100%;
			writing-mode: vertical-rl;
			:hover {
				color: $blue;
			}
			.pic1,
			.pic2,
			.pic3 {
				background-size: cover;
				background-position: center;
				width: 100%;
			}
			.pic1 {
				height: 50%;
				background-position: right 0;
			}
			.pic2 {
				height: 30%;
			}
			.pic3 {
				height: 30%;
			}
		}
	}
}
